/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */
header {
    background: linear-gradient(to right, #4389af, #2c3e50);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
    color: #f9f9f9;
}

/* Main */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

/* Card */
.card {
    background-color: #fff;
    border: 2px solid #ffa726; /* Aksen oranye */
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-color: #fb8c00; /* Warna oranye lebih gelap saat hover */
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card a {
    text-decoration: none;
    color: #333;
}

.card h2 {
    font-size: 1.5rem;
    margin: 15px 0 10px;
}

.card p {
    font-size: 1rem;
    color: #666;
    padding: 0 10px 20px;
}

/* Footer */
footer {
    margin-top: auto;
    padding: 10px;
    background-color: #2c3e50; /* Biru tua */
    color: #fff;
    text-align: center;
    width: 100%;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

/* Responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 0.9rem;
    }

    main {
        padding: 10px;
        gap: 10px;
    }

    .card {
        width: 100%;
    }

    .card img {
        height: 100px;
    }
}
