* {
    box-sizing: border-box; /* Pastikan padding dan border termasuk dalam ukuran elemen */
}

body {
    font-family: "Nunito", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1, h2, h3, .judul { /* Untuk judul */
    font-family: "Poppins", Arial, sans-serif;
}

/* Styling dasar untuk modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    display: flex; /* Use flexbox for better alignment */
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    transition: all 0.3s ease;
}

.input-group label {
    position: absolute;
    top: 35%;
    left: 10px;
    transform: translateY(-10%);
    background-color: #fff;
    transition: all 0.3s ease;
    pointer-events: none;
    font-size: 16px;
}

input:focus + label,
input:valid + label {
    top: 0;
    font-size: 16px;
    color: #ff6600;
}


.modal-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.modal-content h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

/* Styling untuk label */
.modal-content label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

/* Styling untuk input */
.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

/* Efek pada input kosong */
.modal-content input[type="text"]:placeholder-shown {
    border-color: #ccc;
    background-color: #f2f2f2;
    transform: scale(1);
}

/* Efek pada input yang telah diisi */
.modal-content input[type="text"]:valid {
    border-color: #ff6600; /* Warna border saat terisi */
    background-color: #fff; /* Warna latar belakang saat terisi */
    transform: scale(1.02); /* Sedikit memperbesar saat terisi */
}

/* Styling untuk tombol simpan */
.modal-content button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button {
    background-color: #ff6600;

}

.save-button:hover {
    background-color: #cc4400;
}

/* Style for the "Batal" button */
.cancel-button {
    background-color: #dc3545; /* Red color for danger */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: #c82333; /* Darker red on hover */
}



.header {
    width: 100%;
    background-color: #942b41;
    padding: 10px 20px;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
}

.header h1 {
    color: white;
}

.banner-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px; /* Membuat sisi banner membulat */
}

.container-wrapper {
    display: flex;
    gap: 20px;
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main-container {
    flex: 3;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto; /* Menggunakan margin auto untuk membuat elemen di tengah */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan untuk efek visual */
    border-radius: 10px; /* Opsional: menambahkan border-radius untuk tampilan lebih lembut */
}

.main-container, .receipt-container {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px 10px; /* Mengatur gap antara baris dan kolom */
    margin-bottom: 20px;
}

.menu-item {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
/* Efek hover untuk item menu */
.menu-item:hover {
    transform: translateY(-5px); /* Memberikan efek melayang */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Tambahkan shadow saat hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-image {
    border-top-left-radius: 10px; /* Sesuaikan nilai sesuai kebutuhan */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    height: 250px; /* Sesuaikan tinggi sesuai kebutuhan */
    width: 100%;
}

.total-summary {
    display:none;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Teks akan berada di sebelah kiri */
    padding: 0 15px; /* Jarak ke tepi card, sesuaikan sesuai kebutuhan */
}


.menu-footer h3, 
.menu-footer .price {
    margin: 5px 0;
}

.add-to-cart,
.quantity-controls {
    align-self: center; /* Menjaga tombol tetap di tengah */
    margin: 10px 0; /* Jarak dari elemen di atasnya */
}

.price {
    margin-bottom: 10px 0; /* Beri jarak antara harga dan kuantitas */
    font-size: 16px; /* Sesuaikan ukuran font jika diperlukan */
}

.hidden {
    display: none;
}
.add-to-cart {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color:#CC4400;
}
.quantity-controls {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-grow:1;
}

.qty-btn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}

.qty-btn:hover {
    background-color: #CC4400 ;
}

.quantity-controls input[type="number"] {
    width: 60px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ff6600;
    border-radius: 5px;
    margin: 0 5px;
    height: 40px;
}

.quantity-controls input[type="number"]::-webkit-outer-spin-button,
.quantity-controls input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.total-container {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto; /* Menggunakan margin auto untuk membuat elemen di tengah */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk efek visual */
    border-radius: 10px; /* Opsional: menambahkan border-radius untuk tampilan lebih lembut */
    text-align: center;
}

.total-container h2 {
    color: #942b41;
    font-size: 1.5em;
    margin:0;
}

.total-container .title {
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
}

.order-grid {
    display: grid;
    grid-template-columns: 50% 20% 30%;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
}

.order-grid .menu-column {
    text-align:left;
}

#orderList {
    display: contents;
    padding: 0 20px; 
    margin-top: 20px;
    
}

#orderList li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    
}

#orderList .order-item {
    display: contents;
}
  
#orderList .order-menu {
    text-align: left;
}
  
#orderList .order-quantity,
#orderList .order-price {
    text-align: center;
}

.totalPayment {
    display: flex;
    justify-content: space-between; /* Menempatkan teks total di kiri dan angka di kanan */
    align-items: center;
    padding: 10px 0;
    margin-bottom: 5px;
}

.payment-method {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd; /* Garis di atas payment-method */
    padding-bottom: 20px;
}

.payment-method label {
    font-weight: bold;
    color: #555;
    flex: 1;
    text-align: left;
    white-space: nowrap;
}

.payment-method select {
    padding: 8px;
    border: 2px solid #ff6600;
    border-radius: 10px;
    font-size: 1em;
    background-color: white;
    color: #ff6600;
    width: auto; /* Width adapts to content */
    text-align-last: left;
    min-width: 80px;
}

/* Style untuk opsi dalam dropdown */
option {
    background-color: white; /* Latar belakang putih untuk opsi */
    color: #ff6600; /* Teks berwarna oren untuk opsi */
    border-radius: 5px;
}

/* Hover style untuk opsi dalam dropdown */
.payment-method select:hover option {
    background-color: #ff6600; /* Latar belakang opsi saat hover */
    color: white; /* Teks berwarna putih saat hover */
}

.edit-info-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.edit-info-button:hover {
    background-color: #0056b3;
}

/* Animasi untuk modal yang muncul */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* Animasi untuk modal yang muncul */
@keyframes modalFadeOut {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-content {
    animation: modalFadeIn 0.3s ease;
}

.whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top:10px;
}

.whatsapp-button:hover {
    background-color: #20b358;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}
.modal-content img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.site-footer {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 40px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.footer-logo-icon {
    width: 35px;
    height: 35px;
    background-color: #4caf50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}

.footer-content p {
    margin: 0;
    line-height: 1.4;
}

.footer-content a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333;
    font-size: 14px;
}

.footer-content a:hover {
    color: #942b41;
    border-bottom: 1px solid #942b41;
}


/* Responsif tampilan .menu-item */
@media only screen and (max-width: 600px) {
    .menu-grid {
        grid-template-columns: 1fr; /* Satu kolom di ponsel */
    }

    .menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        max-width: 100%;
        max-height: 100px;
    }
    

    .menu-image {
        max-width: 30%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        flex-shrink: 0;
    }

    .menu-footer {
        flex: 1;
        display: flex;
        padding-left: 0;
        padding-top: 15px;
        padding-bottom: 10px;
        flex-direction: column;
    }

    .menu-footer h3, 
    .menu-footer .price {
        margin-bottom: 0;
        font-size: 14px;
        align-items: flex-start;
    }

    .hidden {
        display: none;
    }

    .add-to-cart {
        background-color: #ff6600;
        color: #fff;
        border: none;
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 4px;
        align-self: flex-end;
        font-size: 10px;
    }

    .quantity-controls {
        display: none;
        justify-content: right;
        align-self: flex-end;
        margin-bottom: 10px;
        flex-grow:1;
    }
    
    .qty-btn {
        background-color: #ff6600;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 10px;
        height: 25px;
        display: flex;
        border-radius:5px;
    }

    .quantity-controls input[type="number"] {
        width: 60px;
        text-align: center;
        font-size: 10px;
        border: 1px solid #ff6600;
        border-radius: 5px;
        margin: 0 5px;
        height: 25px;
    }

    /* Layout total pembelian di bagian bawah */
    .total-summary {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ddd;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        z-index: 10; /* Pastikan berada di atas elemen lain */
    }

    .main-container {
        padding-bottom: 60px; /* Tambahkan padding agar konten tidak tertutup total-summary */
    }

.total-summary .total-items {
    font-weight: bold;
    font-size: 16px;
}

.total-summary .total-price {
    font-weight: bold;
    font-size: 16px;
    color: #942b41;
}

}

